<% include layout/header.ejs %>

<div class="main">
  <div class="container">
    <div class="content">
      <div class="post">
        <div class="top">
          <h2>zagalovokk</h2>
        </div>
        <div class="body">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="bottom">
          <div class="autor">
            autor <a href="#">autor</a>
          </div>
          <a href="#">Comentarii </a>
        </div>
      </div>
      <div class="post">
        <div class="top">
          <h2>zagalovokk</h2>
        </div>
        <div class="body">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="bottom">
          <div class="autor">
            autor <a href="#">autor</a>
          </div>
          <a href="#">Comentarii </a>
        </div>
      </div>
      <div class="post">
        <div class="top">
          <h2>zagalovokk</h2>
        </div>
        <div class="body">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="bottom">
          <div class="autor">
            autor <a href="#">autor</a>
          </div>
          <a href="#">Comentarii </a>
        </div>
      </div>
      <div class="post">
        <div class="top">
          <h2>zagalovokk</h2>
        </div>
        <div class="body">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="bottom">
          <div class="autor">
            autor <a href="#">autor</a>
          </div>
          <a href="#">Comentarii </a>
        </div>
      </div>
    </div>

    <div class="sidebar">
      <div class="box auth">
        <h2>Intrare</h2>
        <form method="post">
          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" id="login" name="login">
          </div>
          <div class="form-group">
            <label for="password">Parola</label>
            <input type="password" id="password" name="password">
          </div>

          <button  class="login-button"> INTRARE</button>
        </form>
      </div>
      <div class="box">
        box2
      </div>
    </div>

  </div>

</div>

<% include layout/footer.ejs %>
