<% include layout/header.ejs %>

<div class="main">
  <div class="container">
    <div class="content">
      <div class="post">
        <div class="top">
          <h2>Tatiana Turtureanu: Satele noastre frumoase trebuie susținute pentru a deveni și mai deosebite</h2>
        </div>
        <div class="body">
          <h3>Interviu cu Tatiana Turtureanu, interpretă de muzică ușoară, băștinașă din Chișcăreni (Sîngerei).</h3>
          <p>   Care este cel mai mare dor din anii copilăriei?<br>
                Cel mai mult îmi este dor de liniștea de acasă, de timpurile când nimeni nu se grăbea nicăieri. Pădurea care împrejmuiește casa părinților mei îmi dă fiori și mă ademenește în fiecare anotimp al anului: cu arome de salcâm primăvara, foșnet de frunze vara și miros de ghinzi coapte toamna.
                <br>Cât de des reveniți acasă și care sunt emoțiile care vă încearcă?<br>
                Pentru mine casa părintească și fiecare detaliu de acolo este un permanent dor. Din fericire, nu sunt plecată prea departe de locul de baștină. Fiind la Chișinău, revin acasă de cel puțin două ori pe lună.</p>
        <a target="_blank" href="https://medium.com/undp-moldova/tatiana-turtureanu-satele-nostre-frumoase-trebuie-sus%C8%9Binute-pentru-a-deveni-%C8%99i-mai-deosebite-9224c4938c48">Citeste mai departe>></a>
        </div>
        <div class="bottom">
          <div class="autor">
            autor: Tatiana Turtureanu
          </div>
          <a href="#">Comentarii </a>
        </div>
      </div>

      <div class="post">
        <div class="top">
          <h2>Victoria Dunford: Schimbarea acasă începe de la fiecare din noi
        </div>
        <div class="body">
          <h3>Fondatoare și CEO MAD-Aid, Victoria a revenit la Mihăileni pentru a susține localitatea în atragerea investițiilor.</h3>
          <p>   Care este cel mai mare dor din anii copilăriei?<br>
                Timpul petrecut la bunica, care mereu mă aștepta cu semințe de floarea soarelui crescută la ea din grădină și prăjită cu mult drag.
                <br>Un obicei frumos de acasă care îmi lipsește este Paștele, atunci când nu dormeam toată noaptea, dimineața veneam de la slujba de sfințire, trecând pe la cimitir la tătica, apoi ne așezam la masă cu mămica și fratele, după care dormeam câteva ore lângă sobă. Primii ani când am venit în Marea Britanie, încercam de fiecare dată să merg înapoi acasă la această sărbătore. Și acum încerc pe cât e de posibil să fiu acasă de Paști.</p>
        <a target="_blank" href="https://medium.com/undp-moldova/victoria-dunford-schimbarea-acas%C4%83-%C3%AEncepe-de-la-fiecare-din-noi-f1ce972ad678">Citeste mai departe>></a>
        </div>
        <div class="bottom">
          <div class="autor">
            autor: Tatiana Turtureanu
          </div>
          <a href="#">Comentarii </a>
        </div>
      </div>

    </div>

    <div class="sidebar">
      <div class="box auth">
        <h2>Intrare</h2>
        <form method="post">
          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" id="login" name="login">
          </div>
          <div class="form-group">
            <label for="password">Parola</label>
            <input type="password" id="password" name="password">
          </div>

          <button  class="login-button"> INTRARE</button>
        </form>
      </div>
      <div class="box">
        box2
      </div>
    </div>

  </div>

</div>

<% include layout/footer.ejs %>
