<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" href=" <%= assetFingerprint('/stylessheets/styles.css')%>"
</head>

<body>
  <header class="header">
    <div class="container">
      <a href="/" class="logo">
      </a>
      <ul class="menu">
        <li>
          <a href="/">Hello</a>
        </li>
      </ul>
    </div>
  </header>
