<div class="sidebar">
  <div class="box auth">
    <form method="post" class="login">
      <h2>Intrare</h2>
      <div class="form-group">
        <label for="login-login">Login</label>
        <input type="text" id="login-login" name="login">
      </div>
      <div class="form-group">
        <label for="login-password">Parola</label>
        <input type="password" id="login-password" name="password">
      </div>
      <div class="buttons">
        <button  class="login-button"> INTRARE</button>
        <button  class="switch-button secondary"> INREGISTRARE</button>
      </div>
    </form>

    <form method="post" class="register">
      <h2>Inregistrare</h2>
      <div class="form-group">
        <label for="register-login">Login</label>
        <input type="text" id="register-login" name="login">
      </div>
      <div class="form-group">
        <label for="register-password">Parola</label>
        <input type="password" id="register-password" name="password">
      </div>
      <div class="buttons">
        <button  class="login-button"> INTRA</button>
        <button  class="switch-button secondary"> INREGISTRARE</button>
      </div>
    </form>


  </div>
  <div class="box">
    <img src="../images/1xbet.png" alt="">
  </div>
</div>
